@page
@model Pages.q1.companyModel
@{
    ViewData["title"] = "Company";
}




<img src="~/images/bekam.jpeg" style="width: 100vw; height: 100vh" />
<section class="heading-link">
    <h3>our Company</h3>
</section>

<section class="about">

    <div class="image">
        <img src="~/images/about-img.jpg" alt="">
    </div>
    <div class="content">
        <h3 class="about-title">Our Company have a lot of story</h3>
        <p>Klinik BRHC, Inc. was founded in 2008 by the current owner. This is a clinic that provides traditional medicine therapy from the prophet and reflexology therapy. Klinik BRHC has grown to over 900 therapists located in rural and metropolitan areas. We provide the highest quality therapy services to skilled and intermediate nursing facilities, subacute facilities, community hospitals, outpatient clinics, home health agencies, school systems, assisted living, and centers for the developmentally disabled. Our corporate offices are located in Murfreesboro, Tennessee and we currently provide services to the rural and metropolitan areas of Kalimantan, Jakarta, Sumatera and Jawa. We continue to expand in our current areas and into other sections of the country.</p>
    </div>
</section>

<section class="contact">

    <h1 class="heading"> get in touch </h1>

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-clock"></i>
            <h3>opening hours :</h3>
            <p>09.00 - 21.00</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>phone :</h3>
            <p>+62852-0839-0135</p>
        </div>

        
        <div class="icons">
            <i class="fas fa-map"></i>
            <h3>address :</h3>
            <p>Jl. H Hendro suratmin no.28, sukarame, Bandar Lampung</p>
            <p>Jl. Imam bonjol, Langkapura, Kemiling, Bandar Lampung</p>
        </div>

    </div>

    <div class="row">

        <div class="image">
            <img src="images/contact-img.png" alt="">
        </div>

        <form action="">
            <h3>send us a message</h3>
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="number" placeholder="phone" class="box">
            <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

    </div>

</section>