@page
@model Pages.q1.profileModel
@{
    ViewData["title"] = "Profile";
}


<section class="heading-link">
    <h3>Profile<h3>
</section>

<!-- about section starts  -->

<section class="about">

    <div class="image">
        <img src="~/images/about-img.jpg" alt="">
    </div>

    <div class="content">
        <h3 class="about-title">we have best service for you</h3>
        <p>With the best specialist in the world with so much experience we offer you the place to get more than therapy</p>
        <div class="icons-container">
            <div class="icons">
                <img src="~/images/about-icon-1.png" alt="">
                <h3>350+</h3>
                <span>Customer a day</span>
            </div>
            <div class="icons">
                <img src="~/images/about-icon-2.png" alt="">
                <h3>1200+</h3>
                <span>Satisfied Customer</span>
            </div>
            <div class="icons">
                <img src="~/images/about-icon-3.png" alt="">
                <h3>1000+</h3>
                <span>Good Review</span>
            </div>
        </div>
    </div>

</section>

<!-- about section ends -->
<!-- teachers section starts  -->

<section class="teachers">

    <h1 class="heading">expert Specialist</h1>

    <div class="swiper teachers-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-1.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Dr. Zanya </h3>
                    <span>expert Specialist</span>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-2.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>john deo</h3>
                    <span>expert Specialist</span>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-3.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>john deo</h3>
                    <span>expert Specialist</span>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-4.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>john deo</h3>
                    <span>expert Specialist</span>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-5.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>john deo</h3>
                    <span>expert Specialist</span>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="~/images/teacher-6.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>john deo</h3>
                    <span>expert Specialist</span>
                </div>
            </div>

        </div>

    </div>

</section>
