@page
@model Pages.q1.serviceModel
@{

    ViewData["title"] = "Service";
}


<section class="heading-link">
    <h3>our Service</h3>
</section>

<section class="courses">

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="~/images/massage.jpeg" alt="">
                <h3>Massage</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Massage is a type of manual therapy that involves rubbing and kneading of muscles and joints of the body to relax the muscles, relieve tension, and improve circulation</p>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 24 Hours </span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/images/course-2-7.jpg" alt="">
                <h3>Reflexology</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Reflexology is an alternative medical practice that involves the application of pressure to specific points on the feet, hands or ears.</p>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 09.00 - 21.00 </span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/images/bekamm.jpeg" alt="">
                <h3>Bekam</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Bekam/Cupping therapy is a traditional treatment in which the therapist places and suctions a special cup on your skin for a few minutes. The purpose of cupping is to remove dirty blood to cure disease</p>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 09.00 - 21.00</span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/images/ruqyah.jpeg" alt="">
                <h3>Ruqyah</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Ruqyah is the practice of treating illnesses through Qur’ānic āyāt and invocations as prescribed by the Messenger of Allah. It provides a cure for evil eye, magic and physical ailments.</p>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 09.00 - 21.00 </span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>

        @*<div class="box">
            <div class="image">
                <img src="~/images/course-2-5.jpg" alt="">
                <h3>Personal Medical</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Our specialist have so much experience</p>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 09.00 - 21.00 </span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>*@

        <div class="box">
            <div class="image">
                <img src="~/images/fashdu.jpeg" alt="">
                <h3>Fashdu</h3>
            </div>
            <div class="content">
                <h3>choose what's best for you!</h3>
                <p>Fashdu therapy is a method of removing blood from the body by inserting a needle into the affected area and is very useful for treating various diseases related to blood health.</p>
                <div class="icons">
                    <span> <i class="fas fa-book"></i> 09.00 - 21.00</span>
                    <span> <i class="fas fa-clock"></i> Everyday </span>
                </div>
            </div>
        </div>

        

    </div>

    

</section>